@import "tailwindcss";

:root {
  --primary-color: #0b64f4;
  --primary-color-hover: #3b82f6;
  --primary-color-hover-light: #BBD4FC;
  --primary-color-hover-dark: #052E70;
  --background-primary: #ffffff;
  --background-secondary: #f8fafc;
  --sidebar-border: #e9edf2;
  --text-color: #343e4e;
}

body {
  color: var(--text-color);
}

input {
  background-color: #f1f5f9;
  color: #343e4e;

  &::placeholder {
    color: #9ca3af;
  }
}
